flask
redis
nose
contextlib2
unittest2
curses
collections_extended
logging
random
itertools
zmq

re

# Caffe

libprotobuf-dev
libleveldb-dev
libsnappy-dev
libopencv-dev
libhdf5-serial-dev
protobuf-compiler
ibboost-all-dev